@import "../assets/fonts/Gilroy/stylesheet.css";
@import "../assets/fonts/ProximaNova/stylesheet.css";
@import "../assets/fonts/BebasNeue/stylesheet.css";

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Proxima Nova", sans-serif;
  background-color: #fff;
}

.wrapper {
  width: 100%;
  max-width: 1420px;
}

.main {
  width: 100%;
}

section {
  @include flex-column();
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  position: absolute;
  @include flex-row();
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  .header-wrapper {
    margin: 0;
    @include flex-row();
    align-items: flex-start;
    justify-content: space-between;
    .header__nav {
      @include flex-row();
      align-items: center;
      justify-content: center;
      gap: 80px;
      .logo {
        padding: 26px 0;
      }
    }
    .header__contacts {
      padding-top: 18px;
      @include flex-row();
      align-items: center;
      justify-content: space-between;
      gap: 140px;
      .header__contacts-email {
        @include flex-column();
        align-items: flex-start;
        justify-content: flex-start;
        p {
          font-weight: 600;
          font-size: 12px;
          line-height: 12px;
          letter-spacing: -0.9px;
          color: #ffffff;
          opacity: 0.5;
        }
        a {
          @include flex-row();
          gap: 9.5px;
          margin-top: 8px;
          text-decoration: none;
          color: #fee040;
          font-size: 14px;
          line-height: 12px;
          letter-spacing: -0.5px;
          &:hover {
            transition: 0.5s;
            color: #f5f5f5;
          }
        }
      }
      .header__contacts-phone {
        @include flex-column();
        align-items: flex-end;
        justify-content: flex-start;

        .phone-description {
          opacity: 0.5;
          @include flex-row();
          gap: 6.5px;
          text-decoration: none;
          font-size: 12px;
          line-height: 12px;
          letter-spacing: -0.5px;
          p {
            color: #fff;
          }
        }
        a {
          margin-top: 6px;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          text-align: right;
          text-decoration: none;
          letter-spacing: 0.3px;
          color: #ffffff;
          &:hover {
            transition: 0.5s;
            color: #fee040;
          }
        }
      }
    }
  }
}

// Burger menu
.burger-menu {
  margin-top: -6px;
  @include flex-column();
  gap: 8px;
  &:hover {
    transition: 1.5s;
    transform: scale(1.2);
    cursor: pointer;
  }
  &:active {
    transition: 1s;
    background-color: #60b6ff;
  }
  .burger__line {
    display: block;
    width: 40px;
    height: 2px;
    background-color: #fff;
  }
  .burger__line-main {
    @include flex-row();
    gap: 8px;
    span {
      display: block;
      width: 15px;
      height: 2px;
      background-color: yellow;
    }
  }
}

// Button
.btn {
  width: 340px;
  height: 70px;
  @include flex-row();
  align-items: center;
  justify-content: flex-start;
  background: #fee040;
  border-radius: 2px;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  gap: 10px;
  color: #000000;
  img {
    padding-left: 58px;
  }
  &:hover {
    transition: 0.5s;
    background-color: #fff;
  }
}

.independent {
  padding-top: 207px;
  padding-bottom: 63px;
  background-image: url(../assets/img/bg.jpg);
  @include flex-row();
  .wrapper {
    @include flex-column();
    .independent__content {
      padding: 0 8.5%;
      @include flex-row();
      gap: 200px;
      justify-content: flex-start;
      align-items: center;
      .independent__content-heading {
        @include flex-column();
        h1 {
          margin: 0;
          font-family: "Gilroy", sans-serif;
          font-weight: 800;
          font-size: 36px;
          line-height: 51px;
          letter-spacing: -1.4px;
          color: #fff;
        }
        p {
          margin-top: 35px;
          padding-right: 40%;
          font-weight: 600;
          font-size: 20px;
          line-height: 34px;
          color: #fff;
          letter-spacing: -0.5px;
          opacity: 0.7;
        }
      }

      .independent__content-commerce {
        width: 340px;
        @include flex-column();
        justify-content: flex-start;
        align-items: flex-start;
        gap: 25px;
        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 28px;
          font-family: "Proxima Nova Th", sans-serif;
          color: #ffffff;
        }
      }
    }
    .independent__features {
      margin-top: 69px;
      @include flex-row();
      justify-content: flex-start;
      align-items: flex-end;
      .independent__features-video {
        a > img {
          width: 220px;
          height: 220px;
          max-width: 220px;
          max-height: 220px;
        }
      }
      .independent__features-list {
        @include flex-row();
        // gap: 40px;
        .independent__features-item {
          // margin-right: 100px;
          @include flex-row();
          gap: 31px;
          p {
            // width: 200px;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.5px;
            color: #ffffff;
          }
        }
      }
    }
  }
}

.work {
  .wrapper {
    @include flex-row();
    margin-top: 38px;
    margin-bottom: 7px;
    .work__heading {
      margin-top: -25px;
      width: 37%;
      @include flex-column();
      h2 {
        @include flex-column();
        font-family: "Gilroy", sans-serif;
        align-items: flex-start;
        font-weight: 800;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -0.5px;
        word-wrap: break-word;
        color: #151515;
      }
      p {
        margin-top: 50px;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.5px;
        color: #707070;
        opacity: 0.7;
      }
    }
    .work__image > img {
      padding-top: 20px;
      width: 375px;
      height: 399px;
    }
    .work__get {
      margin-top: -36px;
      margin-left: 60px;
      h3 {
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -0.5px;
        color: #151515;
      }
      ul {
        margin-top: 30px;
        @include flex-column();
        gap: 15px;
        align-items: flex-start;
      }
      ul > li {
        list-style: none;
        @include flex-row();
        gap: 20px;
      }
    }
  }
}

.services {
  position: relative;
  padding-top: 100px;
  padding-bottom: 145px;
  overflow: hidden;
  background-image: url(../assets/img/bg-commercy.jpg);
  .wrapper {
    max-width: 1920px;
    width: 100%;
    @include flex-column();
    transform-origin: top left;
    .services__heading {
      @include flex-column();
      span {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 16px;
        letter-spacing: 20px;
        text-transform: uppercase;
        color: #fee040;
      }
      p {
        margin-top: 20px;
        font-family: "Gilroy", sans-serif;
        font-weight: 800;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -0.5px;
        color: #ffffff;
        text-align: center;
      }
    }
    .services__content {
      padding-left: 250px;
      width: 100vw;
      transform-origin: top left;
      overflow-y: scroll;
      overflow-y: hidden;
      // position: absolute;
      scrollbar-width: none;
      margin-top: 49px;
      gap: 80px;
      @include flex-row();
      justify-content: flex-start;
      align-items: flex-start;

      .services__item {
        @include flex-column();
        align-items: flex-start;
        justify-content: flex-start;
        img {
          max-width: 400px;
          // height: 190px;
        }
        h4 {
          width: 400px;
          padding-top: 30px;
          font-weight: 800;
          font-size: 20px;
          line-height: 28px;
          letter-spacing: -0.5px;
          color: #ffffff;
        }
        .services__item-description {
          padding-top: 20px;
          font-weight: 600;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: -0.5px;
          color: #ffffff;
          opacity: 0.7;
        }
        .btn-detailed {
          margin-top: 29px;
          @include flex-row();
          align-items: center;
          justify-content: center;
          text-align: center;
          text-decoration: none;
          gap: 13.5px;
          p {
            font-family: "Bebas Neue", sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 16px;
            letter-spacing: 7px;
            color: #fee040;
            text-transform: uppercase;
            &:hover {
              transition: 0.5s;
              color: #f5f5f5;
            }
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}

.complex {
  .wrapper {
    padding-top: 104px;
    padding-bottom: 103px;
    @include flex-column();
    gap: 33px;
    h2 {
      font-weight: 700;
      font-size: 80px;
      font-family: "Bebas Neue", sans-serif;
      line-height: 64px;
      text-align: center;
      letter-spacing: -5px;
      background: linear-gradient(
        180deg,
        #60b6ff 0%,
        rgba(0, 78, 134, 0.8) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-transform: uppercase;
    }
    p {
      width: 35vw;
      font-family: "Gilroy", sans-serif;
      font-weight: 900;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #505050;
    }
  }
}

.research {
  background: #f5f5f5;
  .wrapper {
    max-width: 1920px;
    @include flex-row();
    align-items: flex-start;
    .research__image {
      // max-width: 50%;
      width: 50%;
      height: 441px;
      background-repeat: no-repeat;
      background-image: url(../assets/img/repeat.jpg);
    }
    .research__content {
      width: 32%;
      padding: 80px 0;
      padding-left: 70px;
      @include flex-column();
      justify-content: flex-start;
      align-items: flex-start;
      .research__content-title {
        @include flex-row();
        align-items: center;
        justify-content: flex-start;
        h3 {
          padding-left: 20px;
          font-size: 24px;
          letter-spacing: -1.2px;
        }
      }
      .research__content-paragraph {
        margin-top: 23px;
        padding-right: 70px;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -1.05px;
        color: #333333;
        opacity: 0.7;
      }
      .research__content-quote {
        margin-top: 36px;
        @include flex-row();
        gap: 30px;
        justify-content: flex-start;
        align-items: flex-start;
        .content__quote-img {
          img {
            border-radius: 50%;
            border: 5px solid #fff;
            background: #ffffff;
            box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
          }
        }
        .content__quote-description {
          @include flex-column();
          align-items: flex-start;
          justify-content: flex-start;
          .content__quote-author {
            margin-top: 33px;
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: -0.5px;
            color: #151515;

            opacity: 0.7;
          }
        }
      }
    }
  }
}

.step {
  padding: 2px 10px;
  background-color: #fee040;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #151515;
  text-align: center;
}

.instruments {
  padding-top: 80px;
  padding-bottom: 112px;
  .wrapper {
    @include flex-column();
    align-items: center;
    justify-content: center;
    .instruments__heading {
      @include flex-column();
      align-items: center;
      justify-content: center;
      h3 {
        margin-top: 17px;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        letter-spacing: -1.1px;
        color: #151515;
      }
      p {
        margin-top: 28px;
        width: 44.3vw;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        letter-spacing: -0.5px;
        color: #333333;
        opacity: 0.7;
      }
    }
    .instruments__slider {
      overflow-y: scroll;
      width: 80vw;
      padding-left: 57px;
      .instruments__slider-wrapper {
        position: relative;
        margin-top: 112px;
        @include flex-row();
        align-items: flex-start;
        justify-content: flex-start;
        gap: 12px;
        width: 100vw;
        transform-origin: top left;
        scrollbar-width: none;
        .instruments__slider-item {
          width: 357px;
          padding: 0 41px;
          @include flex-column();
          align-items: center;
          justify-content: flex-start;
          // width: 340px;
          // max-width: 340px;
          height: 357px;
          background: #f5f5f5;
          &:hover {
            transition: 0.5s;
            background-color: #fee040;
          }
          img {
            margin-top: -70px;
            margin-bottom: -31px;
            height: 380px;
          }
          p {
            width: 260px;
            padding-bottom: 33px;
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            letter-spacing: -0.5px;
            color: #151515;
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.processing {
  background: #f5f5f5;
  .wrapper {
    max-width: 1920px;
    @include flex-row();
    align-items: flex-start;
    justify-content: flex-end;
    .processing__content {
      // margin-top: 20px;
      width: 29.8vw;
      max-width: 60vw;
      // padding-left: 19.3%;
      padding-right: 4%;
      .processing__heading {
        padding-top: 78px;
        @include flex-row();
        gap: 20px;
        h3 {
          font-weight: 700;
          font-size: 24px;
          line-height: 34px;
          letter-spacing: -0.5px;
          color: #151515;
        }
      }
      .processing__article {
        margin-top: 18px;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.5px;
        color: #707070;

        a {
          color: #2f80ed;
          text-decoration: underline;
        }
      }
      .processing__list {
        margin-top: 31px;
        ul {
          @include flex-column();
          justify-content: flex-start;
          align-items: flex-start;
          gap: 16px;
          li {
            @include flex-row();
            gap: 20px;
            align-items: center;
            justify-content: flex-start;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.5px;
            color: #505050;
            opacity: 0.7;
          }
        }
      }
    }
    .processing__image {
      width: 50vw;
      height: 47.4vh;
      // height: 100vh;
      max-width: 960px;
      // max-height: 512px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../assets/img/processing-bg.jpg);
    }
  }
}

.termovision {
  padding: 120px 0;
  padding-bottom: 113px;
  background-image: url(../assets/img/complex.jpg);
  background-repeat: no-repeat;
  .wrapper {
    @include flex-row();
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    .termovision__heading {
      h2 {
        width: 460px;
        font-family: "Gilroy", sans-serif;
        font-weight: 800;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: -0.5px;
        color: #ffffff;
        @include flex-column();
        justify-content: flex-start;
        align-items: flex-start;
        span {
          color: #fee040;
        }
      }
    }
    .termovision__history {
      // width: 460px;
      padding-top: 9px;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.5px;
      color: #ffffff;
      @include flex-column();
      gap: 26px;
      justify-content: space-between;
    }
    .termovision__commerce {
      padding-top: 10px;
      .btn {
        position: relative;
        .pointing-hand {
          position: absolute;
          bottom: 15px;
          right: 13px;
        }
      }
      .termovisin__commerce-description {
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        margin-top: 34px;
        color: #ffffff;
      }
    }
  }
}

.footer {
  @include flex-row();
  padding-top: 40px;
  padding-bottom: 45px;
  .wrapper {
    @include flex-row();
    align-items: center;
    justify-content: space-between;
    gap: 290px;
    .footer__author {
      @include flex-column();
      justify-content: flex-start;
      align-items: flex-start;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #707070;
      a {
        color: #2f80ed;
        &:hover {
          transition: 0.5s;
          color: #000;
        }
      }
    }
    .footer__contacts {
      gap: 50px;
      @include flex-row();
      align-items: center;
      justify-content: center;
      .footer__contacts-email {
        @include flex-column();
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6px;
        span {
          @include flex-row();
          gap: 5px;
          justify-content: center;
          align-items: center;
          opacity: 0.5;
          img {
            text-align: center;
          }
        }
        a {
          text-align: right;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #151515;
          text-decoration: none;
          &:hover {
            transition: 0.5s;
            color: #fee040;
          }
        }
      }
      .footer__contacts-phone {
        @include flex-column();
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6px;
        .phone-description {
          gap: 5px;

          opacity: 0.5;

          @include flex-row();
        }
        a {
          text-align: right;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #151515;
          text-decoration: none;
          &:hover {
            transition: 0.5s;
            color: #fee040;
          }
        }
      }
      .footer__contacts-address {
        @include flex-column();
        justify-content: flex-start;
        align-items: flex-start;
        gap: 6px;
        .phone-description {
          gap: 5px;
          opacity: 0.5;
          @include flex-row();
        }
        a {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: #151515;
          text-decoration: none;
          &:hover {
            transition: 0.5s;
            color: #fee040;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .wrapper {
    padding: 3.5% 5%;
    margin: 0;
  }

  .services {
    padding: 0;
    .wrapper {
      padding: 8% 0;
      .services__heading {
        p {
          font-size: 26px;
        }
      }
      .services__content {
        padding-left: 60px;
      }
    }
  }

  .header {
    .header-wrapper {
      .header__nav {
        gap: 30px;
      }
      .header__contacts {
        gap: 50px;
      }
    }
  }

  .independent {
    .wrapper {
      // padding: 0;
      .independent__content {
        padding: 0;
        gap: 0;
      }
      .independent__features {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .independent__features-list {
          flex-direction: column;
          gap: 20px;
        }
      }
    }
  }

  .research {
    .wrapper {
      .research__image {
        background-position: center;
      }
      .research__content {
        width: 60vw;
        .research__content-paragraph {
          padding: 0;
        }
      }
    }
  }

  .instruments {
    padding-top: 0;
    .wrapper {
    }
  }

  .processing {
    .wrapper {
      padding: 5% 0;
      align-items: center;
      .processing__content {
        width: 45vw;
        .processing__heading {
          padding: 0;
        }
      }
    }
  }

  .complex {
    .wrapper {
      padding: 50px 0;
      h2 {
        font-size: 42px;
        letter-spacing: 0.5px;
      }
      p {
        width: 100vw;
      }
    }
  }

  .work {
    .wrapper {
      flex-direction: column;
      .work__heading {
        margin: 0;
        width: 100%;
      }
    }
  }

  .btn {
    width: 320px;
  }

  .termovision {
    padding: 0;
    background-size: cover;
    .wrapper {
      align-items: flex-start;
      .termovision__heading {
        h2 {
          width: auto;
          font-size: 22px;
        }
      }
      .termovision__history {
        padding-bottom: 20px;
      }
    }
  }

  .footer {
    padding: 0;
    .wrapper {
      gap: 10vw;
    }
  }
}

@media (max-width: 768px) {
  .header {
    .header-wrapper {
      flex-direction: column;
      .header__nav {
        width: 90vw;
        justify-content: space-between;
      }
      .header__contacts {
        padding: 0;
        width: 90vw;
      }
    }
  }

  .independent {
    .wrapper {
      padding-top: 0;
      .independent__content {
        @include flex-column();
        align-items: center;
        justify-content: center;
        .independent__content-heading {
          align-items: center;
          h1 {
            // padding-right: 30%;
            text-align: center;
            line-height: 30px;
            font-size: 20px;
          }
          p {
            margin-top: 10px;
            text-align: center;
            font-size: 16px;
            padding: 0;
          }
        }
        .independent__content-commerce {
          padding-top: 40px;
          @include flex-column();
          // width: 200px;
          p {
            text-align: center;
          }
        }
      }
      .independent__features {
        margin-top: 30px;
        gap: 50px;
        .independent__features-list {
          align-items: flex-start;
          .independent__features-item {
            img {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  }

  .work {
    .wrapper {
      margin: 0;
      .work__heading {
        h2 {
          font-size: 26px;
          text-align: center;
        }
        p {
          margin-top: 15px;
          font-size: 16px;
          text-align: center;
        }
      }
      .work__image img {
        width: 300px;
        height: 300px;
      }
    }
  }

  .services {
    .wrapper {
      .services__heading {
        p {
          font-size: 18px;
        }
      }
    }
  }

  .complex {
    .wrapper {
      gap: 0;
      h2 {
        font-size: 26px;
      }
      p {
        font-size: 18px;
      }
    }
  }

  .research {
    .wrapper {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      .research__content {
        width: 100vw;
        align-items: center;
        padding: 20px 40px;

        .research__content-title {
          flex-direction: column;
          gap: 20px;
          h3 {
            font-size: 20px;
          }
        }
      }
    }
  }

  .instruments {
    padding-bottom: 30px;
    .wrapper {
      .instruments__heading {
        h3 {
          font-size: 20px;
        }
        p {
          width: 90vw;
        }
      }
    }
  }

  .processing {
    .wrapper {
      flex-direction: column;
      align-items: center;
      .processing__content {
        width: 100vw;
        max-width: 90vw;
        .processing__heading {
          flex-direction: column;
        }
        padding-bottom: 30px;
      }
      .processing__image {
        width: 90vw;
        height: 54vh;
      }
    }
  }

  .termovision {
    .wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .termovision__commerce {
        @include flex-column();
        align-items: center;
        justify-content: center;
      }
    }
  }

  .footer {
    .wrapper {
      flex-direction: column;
      gap: 3vw;
      .footer__contacts {
        gap: 20px;
        .footer__contacts-address {
          a {
            font-size: 14px;
          }
        }
        .footer__contacts-email {
          a {
            font-size: 14px;
          }
        }
        .footer__contacts-phone {
          a {
            font-size: 14px;
          }
        }
      }
    }
  }

  .btn {
    width: 200px;
    img {
      padding-left: 10px;
    }
  }
}
